body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: gray;
    height: 100vh;
    overflow:hidden ;
    text-align: center;
    background-image: url(img/Earth.jpg);
}

.quadrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 450px;
    background:white;
    border-radius: 20px;
}

textarea {
    background-image: url(img/ceu-azul-nuvens4.jpg);

}

.quadrado h4 {
    color: rgb(1, 30, 56);
}

.quadrado h1 {
    color: rgb(1, 30, 56); ;
   
}
.botao {
    background-image: url(img/ceu-azul-nuvens4.jpg);
    color: rgb(0, 0, 0); ;
    padding: 5px 8px;
    border: 1px aqua;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
}

input {
    background-image: url(img/ceu-azul-nuvens4.jpg);

}

