body{
    background-image: url(https://wallpapercave.com/wp/wp7242546.jpg);
    color:rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-attachment:fixed;
    }

#menu{
    font-size: 4vh;
    color: white;
}
#menu img{
    border-radius: 10px;
    width: 70px;
    height: 70px;
}


footer{
    bottom: 0;
    position: absolute;
    width: 90%;
    text-align: center;
    margin-bottom: 0;
    margin-left: 5%;
}

#box .col-5{
    max-width: 500px;
    margin: 0 auto;
    background-color: #dddddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    float: center;
}

#box h1{
    margin-left: 20%;
}

#botao {
    margin-left: 40%;
}

#boxAdress{
    max-width: 480px;
    margin: 0 auto;
    background-color: #dddddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    float: left;
    margin-left: 20px;
}
