body{
    background-color: aqua;

}

h1{
    display: flex;
    justify-content: center;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 450px;
    background:white;
    border-radius: 20px;
    padding: 20px;
}

h3{
    float: center;
}