body{
    background-image: url(img/nasaWow.png);
    font-family:cursive;
    color: white;
    font-size: 20px;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 535px;
    background:rgb(42, 42, 42);
    border-radius: 20px;
    padding: 20px;
    opacity: 87%;
    border-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.box h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    letter-spacing: 3px;
}

.box hr{
    padding-left: 50px;
    padding-right: 50px;
}

.program{
    float: right;
    margin-right: 100px;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    opacity: 80%;
}


.btn-btn-outline-info{
    background-color: blueviolet;
}









@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}