body{
    background-image: url(img/nasaWow.png);
    font-family: cursive;

}

h2{
    display: flex;
    justify-content: center;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    background:white;
    border-radius: 20px;
    padding: 20px;
    opacity: 80%;
    border-color: black;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

h3{
    float: center;
}

.button{
    display: flex;
    justify-content: center;
}

.tesla{
    width: 750px;
    height: 800px;
}