body{
    background-image: url(img/nasa.jpg);
    font-family: cursive;

}

.navbar {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    
}

.carousel-inner{
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.carousel-inner img{
    width: 400px;
    height:500px;
    border-radius: 10px;
    border-color: white;
    color: white;
    display: flex;
    align-items:  center;

}

.card img{
    padding: 4px;
    border-radius: 60px;
    height: 150px;
    width: 150px;

}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
}

h3{
    color: white;
}