@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Share+Tech+Mono&display=swap');

body{
    background-image: url(img/buraco-negro.jpg);
    font-family: 'Abel', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Share Tech Mono', monospace;
    color: white;
    font-size: 20px;
}

.nav{
    display: flex;
    align-items: center;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 0px 50px 10px 0;
    font-size: 25px;
    letter-spacing: 1.2px;
    position: relative;
}

.nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.nav a:hover::after{
    width: 100%;
}

.box{
        color: rgb(0, 0, 0);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 470px;
        height: 580px;
        background:rgb(224, 224, 224);
        border-radius: 20px;
        padding: 20px;
        border-color: rgb(255, 255, 255);
        box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.box img{
    width: 150px;
    height: 150px;
    border-radius: 60px;
    margin-left: 130px;
}

.box h1{
    margin-left: 125px;
}

.btn{
    padding: 10px;
    width: 180px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    font-size: 22px;
    border: none;
    float: center;
    margin-left: 115px;
}

.btn:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 238, 0);
    transition: 0.2s ease-in-out;
    position: relative;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

#btnKnow:hover::after{
    width: 100%;
}



#profile-picture {
    position: fixed;
    top: 84px;
    right: 285px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  #profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 300px;
  }

  #exampleInputEmail1{
    border-color: black;
    border-style: solid;
    border-radius: 9px;
  }
